@font-face{
    font-family:'typicons';
    src:url(bower_components/typicons.font/src/font/typicons.eot);
    src:url(bower_components/typicons.font/src/font/typicons.eot?#iefix) format('embedded-opentype'),url(bower_components/typicons.font/src/svg/typicons.svg#typicons) format('svg');
    font-weight:400;
    font-style:normal
}
body,html{
    font-size:1rem;
    font-family:'Roboto',arial,sans-serif;
    line-height:2;
    width:100vw;
    overflow-x:hidden;
    background:#f5f5f5
}
#s1,#s2,#s3{
    max-width:calc(899px);
    margin:1rem auto;
    text-align:left
}
#s1 paper-card,#s2 paper-card,#s3 paper-card{
    width:calc(99.5%);
    text-align:left
}
#intro,#s1 h2,#s2 h2,#s3 h2{
    text-align:center;
    margin:0;
    padding:1em 0
}
.gallery{
    width:100%;
    height:100%
}
.card{
    background:#fff;
    padding:1em;
    box-shadow:.1em .1em .2em #9e9e9e;
    border-radius:5px
}
.project{
    padding:2em;
    display:flex;
    justify-content:center;
    align-items:center
}
.gallery .light{
    background:#fafafa
}
.link{
    color:#1a0dab;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin:.1em;
    line-height:18px
}
.contact a,.link a{
    color:#00acc1;
    text-decoration:none
}
.url{
    color:#66bb6a;
    font-size:14px;
    margin:.1em
}
.description{
    margin:.1em;
    color:#545454;
    font-size:small
}
#intro{
    position:relative;
    width:calc(99%);
    padding:.5em;
    margin:auto;
    background:#fff;
    box-shadow:0 1px 3px #999
}
#intro_message h1{
    margin:0
}
#intro_message{
    max-width:900px;
    margin:auto;
    display:flex;
    flex-flow:column
}
#search{
    max-width:calc(599px);
    margin:auto;
    background:#fff;
    box-shadow:1px 1px 5px #9e9e9e;
    display:none
}
#s3 paper-card{
    padding:.5em;
    text-align:center
}
.contact{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center
}
.contact h3,body,html,p{
    margin:0;
    padding:0
}
.contact,.contact div{
    width:100%
}
.row{
    width:100%!important;
    display:block;
    max-width:900px
}
.contact a{
    color:#00838f;
    display:inline-flex;
    flex-flow:column;
    justify-content:center;
    text-align:center
}
.contact a iron-icon,.profile{
    margin:auto
}
#search,.contact p{
    padding:.5em
}
.profile{
    width:200px;
    height:200px;
    display:flex
}
.profile img{
    display:flex;
    object-fit:cover;
    width:100%;
    border-radius:50%;
    box-shadow:1px 1px 3px #9e9e9e
}
.uptime{
    background:#555;
    padding:2px 15px;
    font-size:11px;
    color:#fff;
    margin:1em;
    border-radius:5px
}
#blog,#education,.contact a{
    padding:1em
}
#blog .post{
    width:85%;
    margin:auto;
    text-align:justify
}
h4{
    margin:1em 0 0
}
#education h4,body,html{
    color:#555
}
#education{
    display:flex;
    justify-content:space-around;
    flex-flow:row wrap;
    text-align:center
}
#education p{
    color:#666
}
.col-2{
    width:calc(46%);
    margin:0 2%
}
.img-responsive{
    width: 100%;
    display: flex;
    object-fit: contain;
}

#misc_projects {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
#misc_projects li {
    margin: 10px;
    width: 150px;
    height: 150px;
    padding: 10px;
    background: #e1e1e1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: .5;
    transition: all .3s;
}
#misc_projects li:hover {
    opacity: 1;
}
#misc_projects li a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin: 0;
    padding: 0;
}
