div.contact
    //- Profile Image
    div.row
        figure.profile
            img(src="images/profile.jpg" alt="Zachary Foutz profile picture")
        
    h2 About Me
    div.row
        p I am a web developer with a passion for modern design. I have working knowledge of front-end techniques and specialize in mobile friendly designs. I love optimizing web apps and focusing on the tiniest of details. As cool as being a lone ranger is, working in a team is always faster and more fun.
        br
        p
            strong Favorite Language: 
            span Vanilla Javascript
        p
            strong Location: 
            span Bremerton Washington