div.contact
    figure.profile
        img(src="images/profile.jpg" alt="Zachary Foutz profile picture")
    p Zach is a student developer hell bent on building something awesome. He doesn't care what language he uses, or how long it takes, he just wants to code.
    a(href="tel:+13609900694")
        iron-icon(icon="communication:call")
        small Phone
    a(href="mailto:zacharyfoutz@gmail.com")
        iron-icon(icon="communication:email")
        small Email
    a(href="https://github.com/zafuzi" target="_blank")
        iron-icon(icon="icons:code")
        small Github