//- index.pug
extends layout.pug

block imports
    link(rel="import" href="bower_components/paper-carousel/paper-carousel.html")
    link(rel="import" href="bower_components/paper-input/paper-input.html")
    link(rel="import" href="bower_components/paper-button/paper-button.html")

block config
    -var title = "Home";

block content
    section#intro
        div#intro_message
            h1 Zachary Foutz | Web Engineer
            paper-input(name="search" label="search")#search
    section#s1
        paper-card#about-me
            div.card-content
                h2 About Zach
                p Zach is a student developer hell bent on building something awesome. He doesn't care what language he uses, or how long it takes, he just wants to code.
    section#s2
        paper-card
            include projects