doctype html
html(lang="en")
    head
        title NewlyRead
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="css/styles.css")
        link(rel="import" href="bower_components/polymer/polymer.html")
        link(rel="import" href="bower_components/paper-header-panel/paper-header-panel.html") 
        link(rel="import" href="bower_components/paper-toolbar/paper-toolbar.html") 
        link(rel="import" href="bower_components/paper-card/paper-card.html") 

    body
        section#intro
            img.banner(src="https://unsplash.it/1920/1080")
            div#intro_message
                h1 Zachary Foutz
                p Web Engineer
        
        section#s1
            h2 I code for a living. And other stuff

        script(src="bower_components/webcomponentsjs/webcomponents.min.js")