//- index.pug
extends layout.pug

block config
    -var title = "Home";

block content
    section#intro
        div#intro_message
            h1 Zachary Foutz
            include contact
    section#s1
        div.card
            include education
    section#s2
        div.card
            include projects
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-73276036-1', 'auto');
        ga('send', 'pageview');
    script(type="text/javascript").
        document.addEventListener("DOMContentLoaded", function(){
            let uptimeChecker = [
                { 
                    name: "JBVentures",
                    url: "https://zfoutz.com/clients/jbventures/",
                    selector: "#uptime_jbventures"
                }, 
                {
                    name: "Shear Elegance",
                    url: "https://zfoutz.com/clients/shear-elegance",
                    selector: "#uptime_shear"
                }, 
                {
                    name: "Newly Read",
                    url: "http://newlyread.com",
                    selector: "#uptime_newlyread"
                },
                {
                    name: "PCPAS",
                    url: "http://zfoutz.com/clients/pcpas",
                    selector: "#uptime_pcpas"
                }
            ];
            uptimeChecker.forEach(uptime => {
                fetch("https://crossorigin.me/" + uptime.url)
                .then(response => {
                    var el = document.querySelector(uptime.selector);
                    switch(response.status){
                        case 502:
                            el.innerHTML = "status: down";
                            el.style.backgroundColor = 'red';
                            break;

                        case 200:
                            el.innerHTML = "status: ok";
                            el.style.backgroundColor = 'green';
                            break;

                        default:
                            el.innerHTML = "status: unknown";
                            el.style.backgroundColor = 'gray';
                            break;
                    }
                });
            });
        }, false);
block scripts
    