doctype html
block config
html(lang="en")
    head
        title #{title} | Zachary Foutz

        //- Meta Tags
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author" content="Zachary Foutz - Zafuzi Industries")
        meta(name="description" content="Zachary Foutz is a web engineer with 5 years of experience. He specializes in front end design and writes code in a myriad of languages.")
        meta(name="keywords" content="web, web-developer, developer, web design, web designer, web developer for hire, developer for hire, bremerton, washington, bremerton washington, bremerton developer, bremerton web developer, bremerton web developer for hire, seattle developer, seattle web developer, seattle web developer for hire, seattle web, bremerton web, expert web developer, expert web designer")
        meta(http-equiv="Content-Type"  content="text/html charset=UTF-8")
        
        //- Imports
        include layout-imports
        block imports

        //- Styles
        link(rel="stylesheet" href="css/styles.css")
        block styles

    body
        //- Main Content
        block content

        //- script(type="text/javascript" src="bower_components/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="bower_components/modernizer/modernizr.js")
        //- script(type="text/javascript" src="bower_components/webcomponentsjs/webcomponents.min.js")
        block scripts