h2 Zach's Projects
div.gallery
    div.project
        h3.link 
            a(href="") NewlyRead
        p.url http://.newlyread.com
        p.description NewlyRead is a simple news site that pulls articles from reliable sources and strips out ads.

    div.project
        h3.link 
            a(href="") Shear Elegance
        p.url www.zacharyfoutz.com/projects/shear-elegance
        p.description Shear Elegance is a website designed for a local hair salon.

    div.project
        h3.link 
            a(href="") Modern Studio Equipment
        p.url www.zacharyfoutz.com/projects/mse
        p.description Modern Studio Equipment is a site that was built under contract from JB Ventures.
        