h2 Projects
div.gallery
    paper-card(image="https://unsplash.it/1920/1080")
        div.card-content
            h3.light Website Name
            p This is a basic description about a basic website.
        div.card-action
            paper-button See More

    paper-card(image="https://unsplash.it/1920/1080")
        div.card-content
            h3.light Website Name
            p This is a basic description about a basic website.
        div.card-action
            paper-button See More

    paper-card(image="https://unsplash.it/1920/1080")
        div.card-content
            h3.light Website Name
            p This is a basic description about a basic website.
        div.card-action
            paper-button See More