h2 Zach's Projects
div.gallery
    div.project
        h3.link 
            a(href="http://newlyread.com" target="_blank") NewlyRead
        p.url http://newlyread.com
        p.description NewlyRead is a simple news site that pulls articles from reliable sources and strips out ads.

    div.project
        h3.link 
            a(href="www.zfoutz.com/clients/shear-elegance" target="_blank") Shear Elegance
        p.url www.zfoutz.com/clients/shear-elegance/
        p.description Shear Elegance is a website designed for a local hair salon.

    div.project
        h3.link 
            a(href="http://www.zfoutz.com/clients/jbventures" target="_blank") Modern Studio Equipment
        p.url www.zfoutz.com/clients/jbventures/
        p.description Modern Studio Equipment is a site that was built under contract from JB Ventures.
        