//- Education.pug
div#education
    h2.row Education
    div
        h4 Olympic College | 2014 - Current
        p AAS-T Web Development
        p AAS-T Programming
    
    div 
        h4 Udacity | 2014
        p Front End Developer Nanodegree
        a(href="./images/nd-grad-cert.pdf" target="_blank") Download Certificate