h2 Projects
div.gallery
    div.project
        div.col-2
            img(src="images/pcpas_screenshot.png").img-responsive
        div.col-2
            h3.link 
                a(href="http://www.zfoutz.com/clients/pcpas" target="_blank")
                    span PC Parts and Services
                    span.uptime#uptime_pcpas
            p.url www.zfoutz.com/clients/pcpas/
            p.description PC Parts and Service is a local computer repair store that wanted a modern clean interface for their new one page site.

    div.project
        div.col-2
            img(src="images/newlyread_screenshot.png").img-responsive
        div.col-2
            h3.link 
                a(href="http://newlyread.com" target="_blank") 
                    span NewlyRead
                    span.uptime#uptime_newlyread
            p.url http://newlyread.com
            p.description NewlyRead is a simple news site that pulls articles from reliable sources and strips out ads.

    div.project
        div.col-2
            img(src="images/shearElegance_screenshot.png").img-responsive
        div.col-2
            h3.link
                a(href="http://www.zfoutz.com/clients/shear-elegance" target="_blank")
                    span Shear Elegance
                    span.uptime#uptime_shear
            p.url www.zfoutz.com/clients/shear-elegance/
            p.description Shear Elegance is a website designed for a local hair salon.

    div.project
        div.col-2
            img(src="images/jbventures_screenshot.png").img-responsive
        div.col-2
            h3.link 
                a(href="http://www.zfoutz.com/clients/jbventures" target="_blank")
                    span Modern Studio Equipment
                    span.uptime#uptime_jbventures
            p.url www.zfoutz.com/clients/jbventures/
            p.description Modern Studio Equipment is a site that was built under contract from JB Ventures.
        